body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    height: 500vh;
    background-image: linear-gradient(to bottom right, rgb(70, 70, 70), black);
    background-size: cover;
    margin-top: 5rem;
    padding: 1.875rem;
}

/* .App {
  text-align: center;
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-weight: 700;
  color: grey;
  text-shadow: #000000 2px 2px;
} */

/* .nav-container {
  display: flex;
  align-items: center;
  height: 65px;
  padding: 20px;
  background-color: rgba(0, 0, 0, .5);
} */

header {
  background-color: rgba(0, 0, 0, .5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 5rem;
  display: flex;
  align-items: center;
}

header img {
  height: 4rem;
  margin-left: 2rem;
}

header * {
  display: inline;
}

header li {
  margin: 1.25rem;
  color: goldenrod;
  text-decoration: none;
  font-weight: 600;
}

.button {
  padding: 0.5rem 0.75rem;
  font-weight: 600;
  display: inline-block;
  margin: 4px;
}

.button:hover{
  background-color: goldenrod;
}

.at-large {
  color: red;
}

.criminal-container {
  display: flex;
  box-shadow: 0 0 3px 2px;
  align-items: center;
  padding: 20;
}

.avatar {
  text-align: left;
  border: rgb(90, 90, 90) solid 8px;
  border-radius: 4px;
  padding: 1rem;
  width: 18rem;
  height: 32rem;
  display: inline-flex;
  margin: 1rem 1rem;
  box-shadow: 3px 4px 22px 1px #000000;
  font-size: 1rem;
}

.avatar:hover {
  border: goldenrod solid 8px;
}

.avatar-img {
  justify-self: center;
  height: 16rem;
  width: auto;
  border: rgb(90, 90, 90) solid 3px;
  border-radius: 4px;
}

.avatar-img:hover {
  border: goldenrod solid 3px;
}

#search {
  margin-left: 60px;
}

.container > input, button, textarea, select {
  padding: 10px;
  margin: 0.3rem;
  font-weight: 600;
  background-color: rgb(90, 90, 90);
}

.container > label, button, textarea, select {
  padding: 5px;
}

.form-section {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: auto;
  /* padding: 100px; */
  color: white;
  display: flex;
  flex-direction: column;
}

iframe {
  border-radius: 8px;
}

/* .form {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 0 auto;
  border: 2px solid "dark-turquoise";
  padding: 1.75rem;
  text-align: left;
} */

.form img {
  margin: auto;
}

.div-box {
  background-color: rgba(0, 0, 0, .7);
}
